*.egg-info/
__pycache__/
.vscode/
benchmarks/*.json
benchmarks/*.parquet
benchmarks/trace/*.jsonl
benchmarks/results/*
*.pt
*.log
*.nsys-rep
*.docx
!benchmarks/trace/benchmark_result_tpl.docx
benchmarks/datasets
install.md
benchmark_result.docx
experiment.sh
nohup.out
!benchmarks/trace/benchmark_result_*tpl.docx
*.tex
!benchmarks/trace/benchmark_result_*tpl.tex
benchmarks/plots